/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* These are temp stylings. Just to get us started */
p {
    font-size: 5rem;
}

a {
    font-size: 5rem;
}

label {
    font-size: 4rem;
}

h1 {
    font-size: 6rem;
}

.button {
    font-size: 4rem;
    border-radius: 1rem;
}
