/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* These are temp stylings. Just to get us started */
p {
    font-size: 5rem;
}

a {
    font-size: 5rem;
}

body {
    background: rgba(177, 177, 177, 0.33);
}
